* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#site{
  min-height: 100%;
  margin: 0 auto;
}

#navigation{
  min-height: 15%;
}

#body{
  min-height: 80%;
}

#footer{
  position: fixed;
  bottom: 0;
  min-height: 5%;
}
